.map {
  width: 1024px;
  height: 768px;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: scroll;
  position: relative;
}

.mapimg {
  position: absolute;
}

.markerimg {
  position: absolute;
}

.resetimg {
  position: fixed;
  transform: translate(960px, 5px);
  cursor: pointer;
}
